* {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            font-family: 'Roboto', sans-serif;
            background-color: #fff;
        }


        nav {
            padding: 10px 20px;
            margin-bottom: 20px;
            padding: 15px 220px;
        }

        nav ul {
            list-style: none;
            display: flex;
            justify-content: space-around;
        }

        nav ul li a {
            color: #fff;
            text-decoration: none;
            font-weight: 500;
            transition: color 0.3s, background-color 0.3s;
        }
        
        nav ul li a:hover {
    color: #fff; 
    text-shadow: 0 0 8px #FFD700;
}

        .hero {
            background-size: cover;
            background-position: center;
            color: #fff;
            text-align: center;
            padding: 50px 20px;
        }

        .search-section {
			display: flex;
			flex-direction: column;
			align-items: center;
    		text-align: center;
            background-color: #fff;
            position: relative;
            padding: 20px;
            margin: 35px auto 50px auto;
            max-width: 1130px;
            box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
            border-radius: 1rem;
            border: 1px solid rgba(239, 82, 34, .6);
            outline: 8px solid rgba(170, 46, 8, .1);
        }

        .search-section h2 {
            margin-bottom: 5px;
            color: #333;
            text-align: center;
            margin-top: 15px;
        }

        .search-section form {
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
            justify-content: space-between;
            padding: 0 20px;
        }

        .search-section form input,
        .search-section form select,
        .search-section form button {
            padding: 10px;
            border: 1px solid #ddd;
            border-radius: 5px;
            font-size: 16px;
        }

        .search-section form button {
            background-color: #EF5222;
            color: #fff;
            padding: 15px 80px;
            border-radius: 50px;
            display: block;
    		margin: 23px auto 9px;
        }

        .promotions {
            text-align: center;
            padding: 40px;
            background-color: #fff;
        }

        .promotions h3 {
            margin-bottom: 10px;
            color: #00613d;
            font-size: 28px;
        }

        .promotion-cards {
            display: flex;
            gap: 20px;
            justify-content: center;
            flex-wrap: wrap;
            margin-bottom: 20px;
        }

        .promotion-card {
            background-color: #fff;
            border: 1px solid #ddd;
            border-radius: 8px;
            padding: 15px;
            max-width: 300px;
            text-align: center;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }

.logo-image {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 295px !important;
    z-index: 10; 
	top: 29px;
}

.hero-container {
    display: flex;
    align-items: center; 
    justify-content: space-between;
    padding: 10px 20px; 
    width: 100%;
    height: 80px; 
    padding: 0 170px;
    position: relative;
}

.hero-image {
    width: auto;
    height: 60px;
    object-fit: contain;
    flex: 1;
    text-align: center;
    margin-left: -350px;
}

.login-btn {
    padding: 10px 20px;
    background-color: #fff;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    flex: 1;
}

.login-btn:hover {
    background-color: #ff4500;
}

.centered-image {
    display: block; 
    margin: 0 auto;
    max-width: 1130px !important; 
    height: auto; 
    border-radius: 15px; 
    object-fit: cover;
    box-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(0,0,0,.2);
    margin-bottom: 40px;
}

span.mx-2.text-white {
    color: rgb(255 255 255 / var(--tw-text-opacity, 1)) !important;
    margin-right: 5px;
}

.items-start {
    display: flex; 
    align-items: center; 
    gap: 1rem;
    flex: 1;
}

.justify-end {
	display: flex;
    justify-content: flex-start;
    align-items: center; 
    background-color: #fff;
    padding: 5px 10px; 
    border-radius: 40px;
    max-width: 250px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	flex: 1;
}

.items-start div {
    display: flex; 
    align-items: center;
}

.items-start img {
    margin-right: 0.5rem;
}

.text-white {
    color: #fff;
}

a.gap-3 {
    gap: 0.75rem !important;
}

.justify-in {
    display: flex; 
    align-items: center;
}

a.border-choice {
  text-shadow: 0 0 8px #FFD700;
  text-decoration: none;
  position: relative;
}

a.border-choice::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 100%; 
  margin-top: 10px; 
  height: 2px; 
  background-color: white; 
  width: 100%; 
}

.booking-options {
  display: flex;
  align-items: center;
  justify-content: space-between; 
  padding: 10px 20px;
  margin-bottom: 5px;
}

.trip-options {
  display: flex;
  gap: 20px;
}

.option {
  display: flex;
  align-items: center; 
  gap: 8px; 
}

.guide-link {
  margin-left: auto;
}

.guide-link {
  text-decoration: none;
  color: #EF5222; 
}

.ant-radio-input {
  width: 16px;
  height: 16px; 
}

.option > span {
  display: flex; 
  align-items: center; 
}

.booking-form {
  display: flex;
  gap: 20px;
  align-items: flex-end;
  font-family: Arial, sans-serif;
}

.form-group {
  display: flex;
  flex-direction: column;
  position: relative;
}

label {
  font-size: 14px;
  margin-bottom: 7px;
  color: #333;
}

.form-control {
  width: 200px;
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

.weekday {
  font-size: 12px;
  color: #888;
  margin-top: 5px;
}

.search-button {
  padding: 10px 20px;
  font-size: 14px;
  color: white;
  background: #007bff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .booking-form {
    flex-wrap: wrap;
    gap: 15px;
  }
}

.form-group label {
    margin-left: 15px;
}

.search-section form select {
    border: 1px solid #dde2e8;
    padding: 12px 20px;
    border-radius: 8px;
    height: 60px;
    width: 250px;
}

.form-control {
  -webkit-appearance: none; 
  -moz-appearance: none;    
  appearance: none;     
  background: none;
  padding-right: 20px; 
}

.search-section form input {
	border: 1px solid #dde2e8;
    padding: 12px 20px;
    border-radius: 8px;
    height: 60px;
}

.km-image {
    width: 352px; 
    height: auto;  
    object-fit: cover;  
    border-radius: 10px;
    box-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(0,0,0,.2);
}

.mid {
    margin: 0 20px;
}

footer {
    background-color: #FFF7F5;
    color: #333;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    padding: 40px 12% 10px;
}

.footer-contact {
    flex: 1;
    min-width: 400px;
}

.footer-contact h3 {
    color: #006633;
    margin-bottom: 10px;
}

.footer-contact .hotline {
    font-size: 24px;
    font-weight: bold;
    color: #e60000;
    padding-left: 70px
}

.footer-links,
.footer-support {
    flex: 1;
    min-width: 100px;
}

.footer-links {
	padding-left: 30px;
}

.footer-links ul,
.footer-support ul {
    list-style: none;
    padding: 0;
}

.footer-links li,
.footer-support li {
    margin-bottom: 8px;
}

.footer-links a,
.footer-support a {
    text-decoration: none;
    color: #006633;
}

.footer-apps {
    flex: 1;
    min-width: 100px;
    text-align: center;
}

.footer-apps a img {
    width: 100px;
    margin: 5px;
}

.footer-logos {
    flex: 1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px 55px 25px;
}

.footer-logos img {
    max-width: 190px;
    margin: 10px;
}

.footer-bottom {
    text-align: center;
    padding: 12px 0;
    background-color: #00613D;
    color: #fff;
    font-size: 15px;
}

h4 {
    margin-bottom: 10px;
    font-size: 18px;
}

.footer-contact p {
    margin-bottom: 10px; 
}

.dropdown-list {
    position: absolute; 
    top: 100%; 
    left: 0;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    max-height: 200px; 
    width: 100%;
    overflow-y: scroll;
    padding: 0;
    margin: 0;
    display: none; 
    z-index: 1000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

.dropdown-list li {
    list-style: none;
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
}

.dropdown-list li:hover {
    background-color: #FEF6F3;
}

.form-control:focus {
    border: 1px solid #EF5222; 
    box-shadow: 0 0 5px rgba(239, 82, 34, 0.5);
    outline: none; 
}

.form-control {
    border-width: 1px;
}

.dropdown-list::-webkit-scrollbar {
    width: 5px;
}

.dropdown-list::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2); 
    border-radius: 15px; 
}

.dropdown-list::-webkit-scrollbar-track {
    background-color: transparent; 
}

.container {
    display: flex;
    justify-content: center;
    width: 75%;
    margin: 40px 0px 0px 13%;
    background: white;
    border: 1px solid rgba(239, 82, 34, .6);
    border-radius: 10px;
    overflow: hidden;
    outline: 6px solid rgba(170, 46, 8, .063);
}

.left {
    flex: 3;
    align-items: center;
    justify-content: center;
    padding: 30px 20px 15px 0px;
    position: relative;
}

.left img {
    max-width: 600px;
}

.right {
    flex: 2;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login-box h2 {
    text-align: center;
    color: #333;
}

.tabs {
    display: flex;
    justify-content: center;
    margin: 40px 0;
}

.tabs button {
    background: none;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-bottom: 0.5px solid #e5e7eb;
    width: 48%;
}

.tabs .active {
    color: #f15a24;
    border-bottom: 2px solid #f15a24;
    font-weight: bold;
    width: 50%;
}

.input-group {
    margin-bottom: 15px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    border: 1px solid rgba(239, 82, 34, .3);
    background: rgba(239, 82, 34, .02);
    margin-bottom: 15px;
}

.btn {
    width: 100%;
    background: #ef5222;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 50px;
    font-size: 18px;
    cursor: pointer;
}

.btn:hover {
    background: #e04e00;
}

.forgot-password {
    display: block;
    text-align: center;
    color: #ff5a00;
    text-decoration: none;
}

.left img:first-child {
    position: absolute;
    left: 35px;
    z-index: 2;
}

.left img:last-child {
    width: 100%;
    display: block;
    margin-right: auto;
}

.input-group input:focus {
    outline: 3px solid rgba(170, 46, 8, .073);
}

.input-group {
    position: relative;
    display: flex; 
    align-items: center;
}

.input-group .email-icon,
.input-group .password-icon {
    position: absolute;
    left: 10px;
    width: 25px; 
    height: 25px;
    top: 8px;
}

.input-group input {
    padding-left: 43px;
    padding-right: 43px;
}

.input-group .eye-icon {
    right: 10px;
    cursor: pointer;
    position: absolute;
    right: 15px;
    width: 17px;
    height: 17px;
    top: 13px;
}

img.ketnoi-image {
    margin-top: 50px;
    margin-bottom: 20px;
}

#toast {
  position: fixed;
  top: 32px;
  right: 32px;
  z-index: 999999;
}

.toast {
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 2px;
  padding: 20px 0;
  min-width: 400px;
  max-width: 450px;
  border-left: 4px solid;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.08);
  transition: all linear 0.3s;
  height: 80px;
  color: #ef5222bf;
}

@keyframes slideInLeft {
  from {
    opacity: 0;
    transform: translateX(calc(100% + 32px));
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeOut {
  to {
    opacity: 0;
  }
}

.toast--success {
  border-color: #47d864;
}

.toast--success .toast__icon {
  color: #47d864;
}

.toast--info {
  border-color: #2f86eb;
}

.toast--info .toast__icon {
  color: #2f86eb;
}

.toast--warning {
  border-color: #ffc021;
}

.toast--warning .toast__icon {
  color: #ffc021;
}

.toast--error {
  border-color: #ff623d;
}

.toast--error .toast__icon {
  color: #ff623d;
}

.toast + .toast {
  margin-top: 24px;
}

.toast__icon {
  font-size: 24px;
}

.toast__icon,
.toast__close {
  padding: 0 16px;
}

.toast__body {
  flex-grow: 1;
}

.toast__title {
  font-size: 16px;
  font-weight: 600;
  color: #333;
}

.toast__msg {
  font-size: 14px;
  color: #888;
  margin-top: 6px;
  line-height: 1.5;
}

.toast__close {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.fa-exclamation-circle:before {
    color: #ff623d;
}

.fa-check-circle:before {
    color: #47d864;
}

.cursor-pointer {
    cursor: pointer;
}

a.gap-3.cursor-pointer {
    color: #565656;
    text-decoration: none;
}

.user-modal__item a {
    color: black;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
}

.forgot-password-container {
    display: flex;
    align-items: center;
    margin-top: 27px;
}

.google-icon {
    width: 24px; 
    height: 24px;
    cursor: pointer;
    margin-left: 27px; 
}

span.mx-2 {
    color: #565656;
}


